.main_container{
    width: 40%;
    height: 50vh;
    background-color: #6495ED;
    margin-left: 30rem;
    margin-top: 5rem;
}
.subheading{
    text-align: center;
    font-size: 45px;
}
.row{
    width: 40%;
    height: 5vh;
    background-color: aliceblue;
}
.container{
    width: 35%;
    height: 8vh;
    background-color: wheat;
    padding-top: 0.8rem;
    margin-top: 2rem;
}
.subcontainer{
    width: 90%;
    height: 5vh;
    /* background-color: yellow; */
    margin-left: 0.8rem;
    /* margin-top: 0rem; */
}
.resetbtn{
    width: 8rem;
    margin-left: 16rem;
    margin-top: 1.5rem;

}